body {
    background-color: ;
}

.wrapper {
    background-color: ;
    width: ;
    height: ;
    border: ;
    border-radius: ;
    padding: ;
    margin-left: ;
    margin-right: ;
    position: ;
}

.banner {
    background-color: ;
    width: ;
    height: ;
    border: ;
    border-radius: ;
    padding: ;
    margin-left: ;
    margin-right: ;
    position: ;
}

.content {
    background-color: ;
    width: ;
    height: ;
    border: ;
    border-radius: ;
    padding: ;
    margin-left: ;
    margin-right: ;
    position: ;
}

#back {
  position: ;
  top: ;
  left: ;
  background-color: ;
  width: ;
  height: ;
  border: ;
  border-radius: ;
  padding: ;
  margin: ;
  transition: ;
}

#back:hover {
    transform: scale(1.3);
    border-radius: ;
}

#next {
    position: ;
    top: ;
    right: ;
    background-color: ;
    width: ;
    height: ;
    border: ;
    border-radius: ;
    padding: ;
    margin: ;
    transition: ;
}

#next:hover {
    transform: scale(1.3);
    border-radius: ;
}

.pic {
    height: ;
    transition: ;
    display: ;
    margin: ;
}

h1 {
    font-family: ;
    color: ;
    font-size: ;
    margin: ;
}

h2 {
    font-family: ;
    color: ;
    font-size: ;
    margin: ;
}

h3 {
    font-family: ;
    color: ;
    font-size: ;
    margin: ;
    text-align: ;
}

p {
    font-family: ;
    color: ;
    font-size: ;
}